.trusted-by-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 35px;
}
.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
	gap: 35px;
}
@media (max-width: 979px) {
	.trusted-by-container {
		flex-direction: column;
		gap: 20px;
	}
	.logo-container {
		flex-flow: row wrap;
	}
}
