header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.25rem 2rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navbar-logo {
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 2px;
}
.navbar-logo:hover {
	transform: scale(1.05);
}
.navbar-logo:focus-visible {
	outline-color: white;
}
.navbar-title:hover {
	cursor: pointer;
	text-decoration: none;
}
header nav {
	display: flex;
	align-items: center;
	gap: 10px;
}
header nav a {
	font-weight: 600;
	padding: 5px 14px;
	color: var(--text-primary);
	border: none;
	border-radius: 10px;
	text-decoration: none;
}
header nav a:hover {
	color: var(--text-primary);
	background-color: #222222;
	text-decoration: none;
}
header nav a:focus-visible {
	color: var(--text-primary);
	outline: 2px solid white;
	border-radius: 10px;
	background-color: #222222;
}
@media (max-width: 450px) {
	header nav {
		gap: 20px;
	}
	header nav a {
		padding: 0;
	}
	header nav a:hover {
		background-color: transparent;
		text-decoration: underline;
	}
}
