.scroll-container {
	gap: var(--gap);
	width: 100vw !important;
	overflow: scroll;
	padding: 0;
}
@media (max-width: 768px) {
	.scroll-container {
		width: 100vw !important;
		padding: 0 40px;
	}
}
@media (max-width: 450px) {
	.scroll-container {
		width: 100vw !important;
		padding: 0 20px;
	}
}
