[glow] {
	counter-reset: line-counter 0;
	font-family: var(--code-font);
	line-height: 1.1;
	* {
		font-weight: 400;
		font-style: inherit;
		text-decoration: inherit;
	}
	code,
	[data-base] {
		color: var(--glow-base-color, #c6c6c6);
	}
	span,
	[data-accent] {
		color: var(--glow-accent-color, #569cd6);
	}
	[data-highlight] {
		color: #9cdcfe;
	}
	[data-selector] {
		color: #d7ba7d;
	}
	[data-string] {
		color: #ce9178;
	}
	[data-import] {
		color: #c586c0;
	}
	[data-fn] {
		color: #dcdcaa;
	}
	[data-class] {
		color: #4ec9b0;
	}
	[data-comment] {
		color: var(--glow-comment-color, #6f7a7d);
		font-size: inherit;
		vertical-align: inherit;
		font-style: italic;
	}
	/* error */
	u {
		text-decoration: underline wavy var(--glow-error-color, red);
		text-decoration-thickness: 0.12em;
		text-underline-offset: 0.25em;
	}
	/* highlighted */
	mark {
		background-color: var(--glow-marked-color, #2dd4bf26);
		color: unset;
		border-radius: 0.2em;
		padding: 0.25em 0.4em;
		margin: -0.3em -0.4em;
	}
	/* line numbers */
	/* span {
		counter-increment: line-counter 1;
		&:before {
			color: var(--glow-counter-color, #475569);
			content: counter(line-counter);
			display: inline-block;
			text-align: right;
			padding-right: 1em;
			margin-right: 0.5em;
			width: 2.5em;
		}
	} */
	/* errorneous line number styling */
	/* span:has(u):before {
		background-color: var(--glow-error-color, red);
		border-radius: 0.2em;
		font-weight: bold;
		color: white;
	} */
}
